@keyframes active-move-up {
    from {
        top: 0;
    }
    to {
        top: -100%;
    }
}

@keyframes inactive-move-up {
    from {
        top: 100%;
    }
    to {
        top: 0;
    }
}

@keyframes active-move-down {
    from {
        top: 0;
    }
    to {
        top: 100%;
    }
}

@keyframes inactive-move-down {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
}

/*cubic-bezier(.5, .11, .23, .x86)*/

.active-move-up {
    /*top:-100%;*/
    -webkit-animation: active-move-up 1s cubic-bezier(.5, .11, .23, .86) 0s;
    animation: active-move-up 1s cubic-bezier(.5, .11, .23, .86) 0s;
}

.inactive-move-up {
    /*top:0;*/
    -webkit-animation: inactive-move-up 1s cubic-bezier(.5, .11, .23, .86) 0s;
    animation: inactive-move-up 1s cubic-bezier(.5, .11, .23, .86) 0s;
}

.active-move-down {
    /*top:100%;*/
    -webkit-animation: active-move-down 1s cubic-bezier(.5, .11, .23, .86) 0s;
    animation: active-move-down 1s cubic-bezier(.5, .11, .23, .86) 0s;
}

.inactive-move-down {
    /*top:0;*/
    -webkit-animation: inactive-move-down 1s cubic-bezier(.5, .11, .23, .86) 0s;
    animation: inactive-move-down 1s cubic-bezier(.5, .11, .23, .86) 0s;
}

/*@-moz-document url-prefix() {*/

/*.active-move-up {*/

/*animation: active-move-up 1.5s ease-in-out;*/

/*}*/

/*.inactive-move-up {*/

/*animation: inactive-move-up 1.5s ease-in-out;*/

/*}*/

/*.active-move-down {*/

/*animation: active-move-down 1.5s ease-in-out;*/

/*}*/

/*.inactive-move-down {*/

/*animation: inactive-move-down 1.5s ease-in-out;*/

/*}*/

/*}*/

:root {
    --theme-primary: #37E1C9;
    --theme-black: #1D1D1D;
}

.button-c {
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--theme-black);
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /*margin: 4px 2px;*/
    margin-top: 2%;
    margin-right: 5%;
    border-radius: 12px;
    z-index: 12;
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
}

.txt-theme {
    color: var(--theme-primary);
}

.txt-black {
    color: var(--theme-black);
}

.screen {
    height: 100vh;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
}

.screen.active {
    top: 0;
}

.head-div-primary {
    background-color: var(--theme-primary);
    height: 100vh;
}

.head-div-black {
    background-color: var(--theme-black);
    height: 100vh;
}

.content-empty-div {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.center-head {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
}

.section-heading {
    position: relative;
}

.bubble {
    background-color: var(--theme-primary);
    border-radius: 50%;
    position: absolute;
    opacity: 0.6;
}

.bubble-1 {
    top: 20px;
    height: 120px;
    width: 120px;
    right: -50px;
}

.bubble-2 {
    top: 100px;
    height: 90px;
    width: 90px;
    right: -50px;
}

.bubble-3 {
    bottom: 10px;
    height: 120px;
    width: 120px;
    left: -80px;
}

.logo-bubble {
    top: 20px;
    left: 20px;
    height: 150px;
    width: 150px;
    z-index: 1099;
    opacity: 1 !important;
}

.logo-bubble img {
    text-align: center;
    max-height: 100%;
    /* margin-top: 20%; */
}

.bubble.bubble-opac {
    bottom: 100px;
    right: -50px;
    height: 150px;
    width: 150px;
    opacity: 1 !important;
}

.top1 {
    height: 100px;
    width: 100px;
    top: -10px;
    right: 40px;
}

.top2 {
    height: 40px;
    width: 40px;
    top: 100px;
    right: 20px;
}

.bottom1 {
    height: 60px;
    width: 60px;
    bottom: 200px;
    right: 60px;
}

.bottom2 {
    height: 80px;
    width: 80px;
    bottom: 50px;
    right: 160px;
}

.bubble-with-logo-1 {
    height: 110px;
    width: 110px;
    left: 90px;
    top: 80px;
    z-index: -1;
}

.bubble-with-logo-2 {
    height: 70px;
    width: 70px;
    left: 125px;
    top: 40px;
}

.bar {
    height: 2px;
    background: #FFFFFF;
    width: 10%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.bar.top {
    top: calc(50% - 50px);
}

.bar.bottom {
    top: calc(50% + 46px);
    ;
}

.center-head-main {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--theme-primary);
}

.carousel-inner {
    border-radius: 25px;
}

.intro-head-up {
    /*content: '';*/
    border-top: 2px solid white;
    width: 15%;
    height: 12%;
    position: absolute;
}

.intro-head-down {
    /*content: '';*/
    border-bottom: 2px solid white;
    width: 15%;
    height: 12%;
    position: absolute;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    margin: 7px 10px;
    cursor: pointer;
    transition: all 300ms ease-in;
    border-radius: 50%;
    bottom: -100px !important;
    background: var(--theme-black);
}

.carousel-indicators li.active {
    transition: all 300ms ease-in;
    background: var(--theme-primary);
    margin-top: 3px;
    width: 22px;
    height: 22px;
}

.carousel-control-custom {
    position: absolute;
    top: 50%;
    font-size: 36px;
    transform: translateY(-50%);
    color: var(--theme-primary);
    cursor: pointer;
}

.carousel-next-custom {
    left: calc(100% + 30px);
}

.carousel-next-custom.with-slider {
    left: 90%;
}

.carousel-prev-custom {
    right: calc(100% + 30px);
}

.carousel-prev-custom.with-slider {
    right: 90%;
}

.circle-div {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background-color: var(--theme-black);
    margin: auto;
    /*align-items: center;*/
    /*justify-content: center;*/
}

.domain-head {
    margin-top: 10%;
    text-align: center;
    color: var(--theme-primary);
}

.member-name {
    font-size: 36px;
    padding-top: 20px;
    color: var(--theme-primary);
}

.member-data {
    padding-top: 20px;
    color: var(--theme-black);
}

.footer-footer {
    margin-top: -18%;
}

@media only screen and (max-width: 991.92px) {
    body {
        height: auto;
        overflow-y: visible;
    }
    .screen {
        position: static;
        height: auto;
        overflow: hidden;
    }
    .content-empty-div {
        height: auto;
    }
    .first {
        order: 1;
        min-height: 300px;
        height: auto;
    }
    .second {
        order: 2;
        height: auto;
    }
    .circle-div {
        border-radius: 100%;
        width: 70px;
        height: 70px;
        background-color: var(--theme-black);
        margin: auto;
    }
    .domain-head {
        font-size: 20px;
    }
    .logo-bubble {
        top: -15px;
        left: -35px !important;
        height: 100px;
        width: 100px;
    }
    .logo-bubble img {
        text-align: center;
        max-height: 100%;
        margin-left: 10px;
    }
    .bubble-with-logo-1 {
        top: 20px;
        left: 30px;
        height: 50px;
        width: 50px;
    }
    .bubble-with-logo-2 {
        left: 0;
    }
    .top1, .top2, .bottom1 {
        display: none;
    }
    .bubble.bubble-opac {
        height: 90px;
        width: 90px;
    }
    .carousel-next-custom {
        left: calc(100% + 5px);
    }
    .carousel-next-custom.with-slider {
        left: 90%;
    }
    .carousel-prev-custom {
        right: calc(100% + 5px);
    }
    .carousel-prev-custom.with-slider {
        right: 90%;
    }
    .carousel-indicators li {
        width: 7px;
        height: 7px;
        margin: 7px 4px;
    }
    .carousel-indicators li.active {
        margin-top: 4px;
        width: 14px;
        height: 14px;
    }
    .footer-footer {
        margin-top: -70%;
    }
}
